unstructured
pillow_heif
unstructured_inference
pandas


langchain-community==0.2.0
tensorflow==2.15.1
llama-index==0.10.47
llama-index-core==0.10.47
llama-index-embeddings-fastembed==0.1.4
llama-index-embeddings-openai==0.1.10
llama-index-llms-openai==0.1.22
llama-index-retrievers-bm25==0.1.4
llama-index-vector-stores-qdrant==0.2.10
llama-parse==0.4.5
pdfplumber==0.11.1
qdrant-client==1.9.2
